@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');


html {
  scroll-behavior: smooth;
}

* {
  font-family: 'Maven Pro', sans-serif;
  margin: 0;
  padding: 0;
}

:root {
    font-size: 62.5%;
    --nav-bg-color: #5cccc6;
    --nav-text-color: #121212;
    --button-bg-color: #0052CE;
    --button-text-color: white;
  }

  body {
    font-size: 1.6rem;
    font-family: 'Maven Pro', sans-serif;
    background-color: #5cccc6;
    
  }

  main {
    background-color: aqua;
    padding: 16px;
    color: #121212;
    font-family: 'Maven Pro', sans-serif;   
  }

  nav {
    display: flex;
    justify-content:  space-between;
    align-items: center;
    font-family: 'Maven Pro', sans-serif;
    
    background-color: var(--nav-bg-color);
    color: var(--nav-text-color);
    height: 8rem;
  
  }
  
  button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  
    padding: 1rem 1.6rem;
  
    background: var(--button-bg-color);
    border-radius: .8rem;
  
    color: var(--button-text-color);
  }

  .button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  
    padding: 1rem 1.6rem;
  
    background: var(--button-bg-color);
    border-radius: .8rem;
  
    color: var(--button-text-color);
  }

  a {
    text-decoration: none;
  }

  #iconeTour {
    width: 54px;
    height: 24px;
   }

   footer {
    color: #121212;
  }